PREFIX om-owl: <http://knoesis.wright.edu/ssw/ont/sensor-observation.owl#> 
PREFIX weather: <http://knoesis.wright.edu/ssw/ont/weather.owl#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>

SELECT ?obs (<http://yabench/avg>(?value) AS ?avg) {
    ?obs om-owl:observedProperty weather:_AirTemperature ;  
        om-owl:procedure ?sensor ;  
        om-owl:result ?res .
    ?res om-owl:floatValue ?value .
    FILTER(?value > ${TEMP})
}
GROUP BY ?obs